{% extends "base.html" %}
{% block title %}Deploy Flask on Debian 10 with Nginx and uWSGI{% endblock %}

{% block content %}
    <h1>Deploy Flask on Debian 10 with Nginx and uWSGI</h1>
    <sub>Required: Updated Debian 10 server with root privileges and a domain name.</sub>
    <section>
        <h2>1. Install Nginx</h2>
        <code>apt install nginx</code>
        <p>Verify Nginx is running by navigating to the server's IP address.</p>
    </section>
    <section>
        <h2>2. Install Flask & uWSGI</h2>
        <code>apt install python3-pip python-dev</code>
        <code>pip3 install uwsgi flask</code>
    </section>
    <section>
        <h2>3. Create Web Directory</h2>
        <code>mkdir /var/www/[project_name]</code>
    </section>
    <section>
        <h2>4. Create Simple App</h2>
        <code>nano /var/www/[project_name]/main.py</code>
        <p>Add the following:</p>
        <code>from flask import Flask<br>app = Flask(__name__)<br><br>@app.route("/")<br>def index():<br> return "Hello World!"<br><br>if __name__ == "__main__":<br> app.run(host="0.0.0.0")<br></code>
    </section>
    <section>
        <h2>5. Create config-uwsgi.ini</h2>
        <code>nano /var/www/[project_name]/config-uwsgi.ini</code>
        <p>Add the following:</p>
        <code>[uwsgi]<br><br>app = main<br>module = %(app)<br>callable = app<br><br>socket = /var/www/[project_name]/[project_name].sock<br>chdir = /var/www/[project_name]<br>chmod-socket = 666<br><br>processes = 4<br>die-on-term = true</code>
    </section>
    <section>
        <h2>6. Setup Nginx</h2>
        <p>Remove default configuration</p>
        <code>rm /etc/nginx/sites-enabled/default</code>
        <p>Create new configuration</p>
        <code>nano /var/www/[project_name]/config-nginx.conf</code>
        <p>Add the following:</p>
        <code>server {<br> listen 80;<br> listen [::]:80;<br><br> server_name [your_domain].com www.[your_domain].com;<br><br>
            location / {<br> include uwsgi_params;<br> uwsgi_pass
            unix:/var/www/[project_name]/[project_name].sock;<br>
            }<br>}</code>
        <p>Create symbolic link from Nginx directory to conf.d directory</p>
        <code>ln -s /var/www/[project_name]/config-nginx.conf /etc/nginx/conf.d/</code>
        <p>Restart Nginx</p>
        <code>systemctl restart nginx</code>
    </section>
    <section>
        <h2>7. Run uWSGI</h2>
        <p>Start service</p>
        <code>nohup uwsgi /var/www/[project_name]/config-uwsgi.ini &amp;</code>
        <p>Notes: CTRL + C to hide the process. Run uWSGI under systemd for live project.</p>
    </section>
    <section>
        <h2>8. Let's Encrypt SSL Certificate</h2>
        <p>Install Certbot</p>
        <code>apt install certbot python-certbot-nginx</code>
        <p>Requests certificate</p>
        <code>certbot --nginx</code>
        <p>Follow the Certbot prompts.</p>
        <p>Notes: Redirecting HTTP traffic to HTTPS is recommended.</p>
    </section>
{% endblock %}
