{% extends "base.html" %}
{% block title %}Python: Dictionary{% endblock %}

{% block content %}
    <h1>Python: Dictionary</h1>
    <p>
        Python dictionaries are data structures organized as a collection of key and value pairs.
        These mapping objects are hash table implementations with 0(1) retrieval.
        Keys act as unique references to their associated values. Dictionaries store values to blocks of memory, which
        are
        directly accessed by key. We can use any immutable type or any tuple containing immutable types as keys. A
        dictionary’s keys must be unique, while its values are arbitrary
        objects.
    </p>
    <section>
        <h3>Dictionary Methods</h3>
        <figure>
            <table>
                <tbody>
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>.clear()</td>
                    <td>Empties the dictionary</td>
                </tr>
                <tr>
                    <td>.copy()</td>
                    <td>Returns a copy of the dictionary</td>
                </tr>
                <tr>
                    <td>.fromkeys()</td>
                    <td>Returns a dictionary with the specified keys</td>
                </tr>
                <tr>
                    <td>.get()</td>
                    <td>Returns the corresponding value of the specified key</td>
                </tr>
                <tr>
                    <td>.items()</td>
                    <td>Returns a list containing key: value pairs</td>
                </tr>
                <tr>
                    <td>.keys()</td>
                    <td>Returns a list comprised of the entire dictionary's keys</td>
                </tr>
                <tr>
                    <td>.pop()</td>
                    <td>Returns and removes a key: value pair, specified by key</td>
                </tr>
                <tr>
                    <td>.popitem()</td>
                    <td>Returns the last key: value pair</td>
                </tr>
                <tr>
                    <td>.setdefault()</td>
                    <td>Returns the corresponding value of the specified key<br>If key does not exist, insert key: value
                        pair
                    </td>
                </tr>
                <tr>
                    <td>.update()</td>
                    <td>Updates the dictionary with a specified key: value pair</td>
                </tr>
                <tr>
                    <td>.values()</td>
                    <td>Returns a list comprised of the entire dictionary's values</td>
                </tr>
                </tbody>
            </table>
        </figure>
    </section>
    <section>
        <h4>Build a dictionary with empty braces.</h4>
        <code>our_dictionary = {}<br>print(our_dictionary)</code>
        <code class="code-output">output: {}</code>
        <br>
        <h4>Build a dictionary incrementally.</h4>
        <code>our_dictionary = {}<br>our_dictionary["key 1"] = "value 1"<br>print(our_dictionary)</code>
        <code class="code-output">output: {'key 1': 'value 1'}</code>
        <br>
        <h4>Include comma-separated key: value pairs to add to the dictionary.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2"}<br>print(our_dictionary)</code>
        <code class="code-output">output: {'key 1': 'value 1', 'key 2': "value 2"}</code>
        <br>
        <h4>Use a dictionary comprehension.</h4>
        <code>import string<br><br>our_dictionary = {k: v for k, v in enumerate(string.ascii_lowercase)}<br>print(our_dictionary)</code>
        <code class="code-output">output: {0: 'a', ..., 25: 'z'}</code>
        <br>
        <h4>Use a dictionary constructor.</h4>
        <code>our_dictionary = dict([('key 1', "value 1"), ("key 2", "value 2"), ("key 3", "value 3")])<br>print(our_dictionary)</code>
        <code class="code-output">output: {'key 1': 'value 1', 'key 2': 'value 2', 'key 3': 'value 3'}</code>
        <br>
        <h4>Add an item to a dictionary with update.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2"}<br>our_dictionary.update({"key 3": "value
            3"})<br>print(our_dictionary)</code>
        <code class="code-output">output: {'key 1': 'value 1', 'key 2': "value 2", 'key 3': "value 3"}</code>
        <br>
        <h4>List a dictionary’s keys.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>key_list =
            list(our_dictionary)<br>print(key_list)</code>
        <code class="code-output">output: ['key 1', 'key 2', 'key 3']</code>
        <br>
        <h4>List a dictionary’s values.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>value_list =
            list(our_dictionary.values())<br>print(value_list)</code>
        <code class="code-output">output: ['value 1', 'value 2', 'value 3']</code>
        <br>
        <h4>Retrieve a dictionary's contents.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>item_list =
            list(our_dictionary.items())<br>print(item_list)</code>
        <code class="code-output">output: [('key 1', 'value 1'), ('key 2', 'value 2'), ('key 3', 'value 3')]</code>
        <br>
        <h4>Sort a dictionary by key.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>sorted_dictionary =
            sorted(our_dictionary)<br>print(sorted_dictionary)</code>
        <code class="code-output">output: ['key 1', 'key 2', 'key 3']</code>
        <br>
        <h4>Delete an item from a dictionary.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>del our_dictionary['key
            1']<br>print(our_dictionary)</code>
        <code class="code-output">output: {'key 2': 'value 2', 'key 3': 'value 3'}</code>
        <br>
        <h4>Pop the last item from a dictionary.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>popped_item =
            our_dictionary.popitem()<br>print(our_dictionary)<br>print(popped_item)</code>
        <code class="code-output">output: {'key 1': 'value 1', 'key 2': 'value 2'}<br>('key 3', 'value 3')</code>
        <br>
        <h4>Pop an item from a dictionary by key.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>popped_item =
            our_dictionary.pop("key 1")<br>print(our_dictionary)<br>print(popped_item)</code>
        <code class="code-output">output: {'key 2': 'value 2', 'key 3': 'value 3'}<br>value 1</code>
        <br>
        <h4>Unpack a dictionary's keys.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>key_1, key_2, key_3 =
            our_dictionary.keys()<br>print(key_1, key_2, key_3)</code>
        <code class="code-output">output: key 1 key 2 key 3</code>
        <br>
        <h4>Unpack a dictionary's values.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>value_1, value_2, value_3
            = our_dictionary.values()<br>print(value_1, value_2, value_3)</code>
        <code class="code-output">output: value 1 value 2 value 3</code>
        <br>
        <h4>Loop through a dictionary.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>for key, value in
            our_dictionary.items():
            print(key, value)</code>
        <code class="code-output">output: key 1 value 1<br>key 2 value 2<br>key 3 value 3</code>
        <br>
        <h4>Loop through a dictionary in sorted order.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>for key in
            sorted(our_dictionary.keys()):
            print(key)</code>
        <code class="code-output">output: key 1<br>key 2<br>key 3</code>
        <br>
        <h4>Loop through a dictionary in reverse order.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>for key in
            reversed(our_dictionary.keys()):
            print(key)</code>
        <code class="code-output">output: key 3 <br>key 2<br>key 1</code>
        <br>
        <h4>Search a dictionary's keys.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>key_search = "key 1" in
            our_dictionary<br>print(key_search)</code>
        <code class="code-output">output: True</code>
        <br>
        <h4>Get a value from a dictionary by key with get.</h4>
        <code>our_dictionary = {"key 1": "value 1", "key 2": "value 2", "key 3": "value 3"}<br>return_value =
            our_dictionary.get("key 2")<br>print(return_value)</code>
        <code class="code-output">output: value 2</code>
    </section>
{% endblock %}