{% extends "base.html" %}
{% block title %}Python: Comprehensions{% endblock %}

{% block content %}
    <h1>Python: Comprehensions</h1>
    <p>
        Comprehensions build data structures with one or more iterator. This approach reduces syntax
        and increase efficiency when building lists, dictionaries, or sets from conditional and loop
        statements.
    </p>
    <section>
        <h4>Construct a list with a list comprehension</h4>
        <code>import string<br><br>alphabet = string.ascii_lowercase<br>alphabet_list = [letter for letter in alphabet]<br>print(alphabet_list)</code>
        <code class="code-output">output: ['a', ..., 'z']</code>
        <br>
        <h4>Construct a dictionary with a dictionary comprehension</h4>
        <code>import string<br><br>alphabet = string.ascii_lowercase<br>alphabet_list = {letter: num for num, letter in alphabet and enumerate(alphabet)}<br>print(alphabet_list)</code>
        <code class="code-output">output: {'a': 0, ..., 'z': 25}</code>
        <br>
        <h4>Construct a set with a set comprehension</h4>
        <code>import string<br><br>alphabet = string.ascii_lowercase<br>alphabet_list = {num for num, letter in alphabet and enumerate(alphabet)}<br>print(alphabet_list)</code>
        <code class="code-output">output: {0, ..., 25}</code>
    </section>
{% endblock %}