{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <h1>About Me</h1>
    <img class="portrait" src="{{ url_for('static', filename='me.jpg') }}" alt="Avatar">
    <p>My founder’s journey spans 10+ years. After leaving the military, I earned an undergraduate degree in
        communications. I immediately joined a graduate program where I focused on persuasive and political communication. I did not
        finish the latter, which amusingly, makes me both a high school and graduate school dropout. In both cases, tedium led
        to disinterest. I am not competitive, nor do I desire fortune. My only persisting desire is to build a business
        that outlives me.</p>
    <p>For several years, I pursued passive revenue. Unfortunately, I lacked the coding skills necessary to produce a
        product with substantial utility. I searched for profits without considering how I might add value. All
        transactional relationships represent an exchange of value, and all relationships are transactional. This
        realization changed my trajectory.</p>
    <p>In 2017, I resolved to change that. By 2019, I began coding daily. Today, I have the tools required to
        build a business that serves its customers with meaningful value.</p>
    <h2>Pathview</h2>
    <p>Pathview is a product dictated by external constraints in a market dominated by large companies who use the same
        general approach. Analytics is a wonderful and complicated problem with dissatisfied users awaiting a fresh
        solution.</p>
    <p>Pathview is a content analytics application focused on cookieless event-tracking that intends to answer 4 simple
        questions:</p>
    <ol>
        <li>Where am I?</li>
        <li>What am I doing right?</li>
        <li>What am I doing wrong?</li>
        <li>What should I do next?</li>
    </ol>
    <p>The answers to these questions are actionable. Despite this, I have never left an analytics’ dashboard feeling
        confident. This essential feedback loop has always felt broken.</p>
    <p>Pathview intends to fix this. The application handles data as an intentional business outcome, rather than a
        byproduct. Web data provides actionable insight that can improve products, services, and — most critically — the
        user experience. </p>
    <p>The application records and displays relevant key performance indicators alongside the full user path for each
        recorded event. Pathview does not use cookies, personal data, or track visitors across multiple websites. The
        company believes visitors have a right to privacy. Pathview cares about improving the user experience, not about
        attributing an experience to an individual.</p>
    <p>It is vital for a business’s interests to align with their customers’. Pathview will rely upon its own analytics
        to grow. There is no better way to improve a product than to be its first and most dependent user. I hope this
        will lead to rapid feature development and many quality-of-life updates over the years.</p>
    <p>We can fix our failures only after identifying them. Pathview will help lead the search.</p>
{% endblock %}