@font-face {
    font-family: 'Lato', sans-serif;
    src: url("font/lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url("font/lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url("font/lato/Lato-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

html {
    max-width: 800px;
    min-height: 101vh;
    margin: 0 auto;
    padding: 1vh 5vw;
    font-family: 'Lato', sans-serif;
    line-height: 1.25;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 1.66em;
    text-decoration: none;
    text-transform: capitalize;
    hyphens: manual;
    margin: 1vh 0;
}

h2 {
    font-size: 1.53em;
    text-decoration: none;
    text-transform: capitalize;
    hyphens: manual;
    margin: 1vh 0;
}

h3 {
    font-size: 1.4em;
    text-decoration: none;
    text-transform: capitalize;
    hyphens: manual;
    margin: 1vh 0;
}

h4 {
    font-size: 1.26em;
    text-decoration: none;
    text-transform: capitalize;
    hyphens: manual;
    margin: 1vh 0;
}

h5 {
    font-size: 1.13em;
    text-decoration: none;
    text-transform: capitalize;
    hyphens: manual;
    margin: 1vh 0;
}

h6 {
    font-size: 1em;
    text-decoration: none;
    text-transform: capitalize;
    hyphens: manual;
    margin: 1vh 0;
}

p {
    font-size: 1em;
    line-height: 1.45;
    text-align: left;
    hyphens: manual;
    margin: 1vh 0;
}

li {
    font-size: 1em;
    text-align: left;
    hyphens: manual;
}

dt {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    hyphens: manual;
}

dd {
    font-size: 1em;
    font-style: italic;
    text-align: left;
    hyphens: manual;
}

blockquote {
    font-size: 1em;
    font-style: italic;
    text-align: justify;
    hyphens: auto;
    margin: 1vh 0;
}

table {
    width: 100%;
    font-size: 1em;
    text-align: left;
    hyphens: manual;
    border: 2px solid black;
    margin: 1vh 0;
}

th {
    line-height: 1.45;
    text-transform: capitalize;
    border-bottom: 1px solid black;
    padding: .25em;
}

td {
    padding: .25em;
}

menu {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding: 2.5vh 0;
    margin: 0 1vw;
}

.menu-link {
    margin-left: 1em;
    text-transform: capitalize;
}

section {
    padding: 1vh 0;
}

small {
    font-size: .85em;
}

header {
    display: flex;
    margin: 1vh 0 4vh 0;
}

code {
    font-size: 1em;
    line-height: 1.5;
    text-transform: none;
    white-space: pre-wrap;
    hyphens: manual;
    display: block;
    background: black;
    color: whitesmoke;
    padding: 1%;
    margin: 1vh 0;
}

.code-output {
    font-size: 1em;
    line-height: 1.5;
    text-transform: none;
    white-space: pre-wrap;
    hyphens: manual;
    display: block;
    background: gray;
    color: whitesmoke;
    padding: 1%;
    margin: 1vh 0;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.portrait {
    border-radius: 50%;
    min-width: 200px;
    max-width: 33%;
    float: right;
    margin: 0 2vw 2vh 2vw;
}