<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='typographik.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<header class="row">
    <div class="column">
        <a href="/"><img class="logo" src="../static/images/b.png" alt="bellone.com icon" width="70"/></a>
    </div>
    <menu class="column">
        <a href="/" class="menu-link">Home</a>
        <a href="/about" class="menu-link">About</a>
        <a href="/links" class="menu-link">Links</a>
    </menu>
</header>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>